@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2b2a3c;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  color: #fff;
}

::-moz-selection {
  color: white;
  background: #aca9ee;
}

::selection {
  color: white;
  background: #aca9ee;
}

.intro {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  animation: moveInbottom 2s ease;
}

.intro__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  font-size: 6rem;
  margin-bottom: 1.4rem;
}

.heading-primary span {
  color: #f47da7;
}

.heading-secondary {
  font-weight: 300;
  font-size: 3rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .heading-primary {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
  }

  .heading-secondary {
    font-size: 1.8rem;
  }
}

@media only screen and (min-device-width: 481px) {
  .heading-primary {
    font-size: 3rem;
    margin-bottom: 1.4rem;
  }

  .heading-secondary {
    font-size: 2.2rem;
  }
}

@media only screen and (min-device-width: 768px) {
  .heading-primary {
    font-size: 5rem;
    margin-bottom: 1.4rem;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }
}
